<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>{% block title %}Nathan Williford's Portfolio{% endblock %}</title>
    <link href="http://fonts.googleapis.com/css?family=Quicksand:300,400,700" rel="stylesheet" type="text/css">
    <link href="{{ asset('bundles/nateportfolio/css/lightbox.css') }}" rel="stylesheet" />
    {% stylesheets '@NatePortfolioBundle/Resources/assets/css/main.scss' filter='compass' %}
    <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
    {% javascripts '@NatePortfolioBundle/Resources/public/js/*' %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}

</head>
<body>

<div id="content">
    <div class="col1">
    {% block bio %}
    {% endblock %}
    </div>
    <div class="col2">
    {% block body %}{% endblock %}
    {% block fos_user_content %}{% endblock %}
    </div>
</div>
<div id="footer">
</div>
{% block downloads %}{% endblock %}
{% block javascripts %}{% endblock %}
</body>
</html>
